@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Aladin';
  font-style: italic;
  font-weight: 900;
  src: url('/public/fonts/aladin.eot'); 
  src: url('/public/fonts/aladin.eot?#iefix') format('embedded-opentype'),  
       url('/public/fonts/aladin.woff2') format('woff2'), 
       url('/public/fonts/aladin.woff') format('woff'),
       url('/public/fonts/aladin.ttf') format('truetype'), 
       url('/public/fonts/aladin.svg#Aladin') format('svg'); 
}
html,
body {
  font-size: 6px;
  font-family:'Aladin';
}
@media only screan(min-width:400px){
  *,
  html,
  body{
    font-size: 16px;
  }
}
@media only screan(min-width:600px){
  *,
  html,
  body{
    font-size: 19px;
  }
}



/*
barlow-condensed-regular - latin 
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/barlow-condensed-v12-latin-regular.eot'); /* IE9 Compat Modes *//*
  src: local(''),
       url('../fonts/barlow-condensed-v12-latin-regular.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/barlow-condensed-v12-latin-regular.woff2') format('woff2'), 
       url('../fonts/barlow-condensed-v12-latin-regular.woff') format('woff'), 
       url('../fonts/barlow-condensed-v12-latin-regular.ttf') format('truetype'), 
       url('../fonts/barlow-condensed-v12-latin-regular.svg#BarlowCondensed') format('svg'); 
}
font-family: 'Bangers';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/bangers-v20-latin-regular.eot'); 
  src: local(''),
       url('../fonts/bangers-v20-latin-regular.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/bangers-v20-latin-regular.woff2') format('woff2'),
       url('../fonts/bangers-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
    /*   url('../fonts/bangers-v20-latin-regular.ttf') format('truetype'), 
       url('../fonts/bangers-v20-latin-regular.svg#Bangers') format('svg'); 
}
@font-face {
  font-family: 'Big Shoulders Inline Text';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/big-shoulders-inline-text-v19-latin-regular.eot'); 
  src: local(''),
       url('../fonts/big-shoulders-inline-text-v19-latin-regular.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/big-shoulders-inline-text-v19-latin-regular.woff2') format('woff2'), 
       url('../fonts/big-shoulders-inline-text-v19-latin-regular.woff') format('woff'), 
       url('../fonts/big-shoulders-inline-text-v19-latin-regular.ttf') format('truetype'), 
       url('../fonts/big-shoulders-inline-text-v19-latin-regular.svg#BigShouldersInlineText') format('svg');
}
font-face {
  font-family: 'Praise';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/praise-v5-latin-regular.eot'); 
  src: local(''),
       url('../fonts/praise-v5-latin-regular.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/praise-v5-latin-regular.woff2') format('woff2'), 
       url('../fonts/praise-v5-latin-regular.woff') format('woff'), 
       url('../fonts/praise-v5-latin-regular.ttf') format('truetype'),  Safari, Android, iOS
       url('../fonts/praise-v5-latin-regular.svg#Praise') format('svg');
}


*/



